body{
    margin: 0;
    overflow-x:hidden;
    padding: 0;
    line-height: 2;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 1% 5%;
    position: fixed;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-bottom: 1px lightgray solid;
}
.navbar-brand{
    padding:0 5%;
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-item{
    padding: 0 2%;
    font-weight: 500;
}
.nav-link{
    border-bottom: 5px solid  #F8F9FA;
}
.nav-link:hover{
    border-color: black;
}
.nav-link.active{
    border-color: black;
}
/* -------------------------navbar end--------------------- */

/* index.html background picture division */
.name-intro{
    background-image: url("images/34a3e0c63a33e7a3b4c4cbdf6d817825.jpg");
    text-align: center;  
    height: 22rem;
    position: sticky;
    top: 0;
    z-index: -1;
}
.profile-name{
    color: #F8F9FA;
    font-size: 4.25vw;
    padding-top:2rem ;
    max-width: 100%;
    margin: auto;
    font-weight:700;
    position: absolute;
    top: 20%;
    left: 25%;
}
/* ----------------------------------------brief Introduction------------------------ */
.img-kut{
    width: 30%;
   box-shadow: 5px 10px 18px #888888;
}
.prof-img-div{
    text-align: center;
}
.brief-intro{
    padding: 3% 8%;
    background-color: #F8F9FA ;
}
.brief-intro h2{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2;
}
.brief-def-p{
    color: 	#3d3d3d;
    font-size: 18px;
    font-weight:400;
}
/* --------------------------------------------------resume---------------------------------------------- */
.name-intro-resume{
    background-image: url("images/academics.jpg");
}
.profile-name-resume{
    top: 18%;
    left: 15%;
    text-align: center;
}
.sub-heading{
    text-align: center;
    margin-bottom: 3%;
}
.sub-heading-span{
    padding-bottom: 1%;
    border-bottom: 5px solid black;
}
.resume-data{
    padding-top: 5%;
    background-color:#F8F9FA;
    font-size: large;
}
td{
    width: 20%;
}
td.table-left{
    padding: 2%;
    text-align: left;
}
.resume-table{
    background-color:#F8F9FA;
    margin:5% 8%;
}
.resume-table-top{
    margin-top: 0;
}
/* ---------------------------------contact---------------------------------- */
.name-intro-contact{
    background-image: url("images/contact.jpg");
    background-repeat: no-repeat;
}
.contact-div{
    padding: 1% 8%;
    background-color: #F8F9FA;
}
.contact-td-address{
    padding: 5% 0 0 5%;
    font-size: large;
}
.contact-td{
    padding: 5%;
}
.contact-icons{
    align-items: center;
    text-align: center;
    margin: 3% 0;
}
.icon-padding{
    padding-right: 5%;
}
.icons{
    color: black;
    background-color:#F8F9FA;
}
.icons:hover{
    color: #F8F9FA;
    background-color: black;
}
footer{
    text-align: center;
}
/* ////////////////////////////////////research//////////////////////////////////// */
.name-intro-research{
    background-image: url("images/research.jpg");
}
.research-content{
    background-color: #F8F9FA;
    padding:6% 8%;
}
.profile-name-research{
    color:#F8F9FA;
}
.research-ul{
    list-style: none;
    padding: 0px;
    font-size: large;
}
.research-ul li{
    line-height: 2;
    padding-top: 2.5%;
}

.research-ul li:before
{
    content: '🧿';
    margin: 0 1em;    /* any design */
}
/* -----------------------------------------------------career------------------------------ */
.name-intro-career{
    background-image: url("images/career.jpg");
}
.profile-name-career{
    left: 25%;
}
.career-projects{
    background-color: #F8F9FA;
    padding: 4.5% 9.5%;
    font-size: large;
    line-height: 2;
}
.career-headings{
    padding: 3% 1%;
}
.career-h2-span{
    border-bottom: solid 5px black;
}
.li-career-projects{
    padding: 2% 0;
}
/* -------------------------------------media--------------------------- */
@media (max-width: 1028px) {
    .profile-name{
        font-size: 9vw;
        left:1.5%;
        top: 15%;
        text-align: center;
    }
    .profile-name-research{
        top: 20%;
        left: 0;
    }
    .magic{
        line-height: 2;
    }
    .career-h2-span{
        line-height: 2;
    }
    .img-kut{
        width: 90%;
    }
    .sub-heading{
        padding-bottom: 2rem;
    }
    .white-border{
        border: 5px solid white;
    }
    .name-intro-contact{
        background-image: url("images/contact1.jpg");
    }
    .profile-name-contact{
        left:30%;
        top: 20%;
    }
}